.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: rgb(85, 85, 85);
}

[class ^="trading-card-"] {
  margin: auto;
  max-width: 85%;
  display: flow-root;
  font-family: 'Urbanist-VariableFont';
}

.card-ace-field {
  font-family: 'Urbanist-Italic-VariableFont';
}

.card-strength-field {
  font-family: 'Urbanist-Bold';
}

.content-wrap {
  padding-bottom: 2.6rem;
  /* Footer height (with a small gap) */
  /*padding-top: 4.5rem;  /* Navbar Height */
  z-index: 3;
  min-height: 90vh;
}

.trading-card-effect-field>* {
  white-space: pre-line;
}

.trading-card-name-field {
  height: 1rem;
}

.page-container {
  position: relative;
  min-height: 100vh;
}

.trading-card {
  width: 20.313rem;
  height: 28.718rem;
  background-image: url('./images/card-background.png');
  background-size: cover;
}

.trading-card-effect-field,
.trading-card-image-field {
  height: 40%;
  margin: .5rem auto;
}

.card-ace-field,
.card-strength-field,
.card-type-field,
.trading-card-effect-field,
.trading-card-image-field,
.trading-card-name-field {
  background-color: rgb(255, 255, 255);
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

@font-face {
  font-family: "Urbanist-VariableFont";
  src: url('./fonts/Urbanist-VariableFont_wght.ttf');
}

@font-face {
  font-family: "Urbanist-Bold";
  src: url('./fonts/static/Urbanist-Bold.ttf');
}

@font-face {
  font-family: "Urbanist-Italic-VariableFont";
  src: url('./fonts/Urbanist-Italic-VariableFont_wght.ttf');
}

/*footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
/*
  
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f8f9fa;
  background-color: #343a40;
}*/