.App {
  text-align: center;
}

body {
  background-color: rgb(85, 85, 85);
}

[class ^="trading-card-"] {
  margin: auto;
  max-width: 90%;
  display: flow-root;
  font-family: 'Urbanist-VariableFont';
}

[data-bs-theme="red"] {
  --bs-body-color: var(--bs-white);
  --bs-body-color-rgb: #{to-rgb($white)};
  --bs-body-bg: var(--bs-red);
  --bs-body-bg-rgb: #{to-rgb($red)};
  --bs-tertiary-bg: #{$red-600};

  .dropdown-menu {
    --bs-dropdown-bg: #{mix($red-500, $red-600)};
    --bs-dropdown-link-active-bg: #{$red-700};
  }

  .btn-extra {
    --bs-btn-bg: #{mix($gray-600, $red-400, .5)};
    --bs-btn-border-color: #{rgba($white, .25)};
    --bs-btn-hover-bg: #{darken(mix($gray-600, $red-400, .5), 5%)};
    --bs-btn-hover-border-color: #{rgba($white, .25)};
    --bs-btn-active-bg: #{darken(mix($gray-600, $red-400, .5), 10%)};
    --bs-btn-active-border-color: #{rgba($white, .5)};
    --bs-btn-focus-border-color: #{rgba($white, .5)};
    --bs-btn-focus-box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .2);
  }
}

.bottom-button {
  position: absolute;
  bottom: 0;
  left: 0;
}

.card-strength-field {
  font-family: 'Urbanist-Bold';
}

.card-back {
  width: 20.313rem;
  height: 28.718rem;
  background-image: url('./images/back-card-image.png');
  background-size: cover;
  border: 0.625rem solid;
}

.content-wrap {
  padding-bottom: 2.6rem;
  /* Footer height (with a small gap) */
  /*padding-top: 4.5rem;  /* Navbar Height */
  z-index: 3;
  min-height: 90vh;
}

.page-container {
  position: relative;
  min-height: 100vh;
}

.pdf-cutout-border {
  border-style: dashed;
}

.tab-body-container{
  min-height: 87.5vh;
}

.trading-card-effect-field {
  line-height: 1.1;
  height: 41.75%;
}

.trading-card-details {
  text-align: center;
}

.trading-card-image-field {
  background-color: darkgrey;
}

.trading-card-name-field {
  font-family: 'Urbanist-Bold';
  height: 2rem;
}

.z-background-images {
  z-index: -1;
}

.trading-card,
.create-trading-card {
  width: 20.313rem;
  height: 28.718rem;
  background-image: url('./images/card-background.png');
  background-size: cover;
  border: 0.625rem solid;
}

.card-ace-field,
.card-strength-field,
.card-type-field,
.trading-card-effect-field,
.trading-card-name-field {
  background-color: rgb(255, 255, 255);
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.trading-card-effect-field>* {
  white-space: pre-wrap;
}

#pdf-cutout-1,
#pdf-cutout-2,
#pdf-cutout-3,
#pdf-cutout-5,
#pdf-cutout-6,
#pdf-cutout-7 {
  border-left: 0;
}

#pdf-cutout-4,
#pdf-cutout-5,
#pdf-cutout-6,
#pdf-cutout-7 {
  border-top: 0;
}

@font-face {
  font-family: "Urbanist-VariableFont";
  src: url('./fonts/Urbanist-VariableFont_wght.ttf');
}

@font-face {
  font-family: "Urbanist-Bold";
  src: url('./fonts/static/Urbanist-Bold.ttf');
}

@font-face {
  font-family: "Urbanist-Italic-VariableFont";
  src: url('./fonts/Urbanist-Italic-VariableFont_wght.ttf');
}

@font-face {
  font-family: "Urbanist-Black";
  src: url('./fonts/static/Urbanist-Black.ttf');
}